%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [lesser_evil_agent]}
]}.

{profiles,
 [{test, [{erl_opts, [nowarn_export_all]},
          {deps, [{lesser_evil, {git, "git@github.com:alexandrejbr/lesser_evil.git", {branch, "master"}}}]}
         ]
  }]}.


