{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {le_test_app, "0.1.0"},
         [le_test_app,
          lesser_evil_agent,
          sasl]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
