{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.8.0"}}},
        {jsone, {git, "git://github.com/sile/jsone.git", {tag, "1.5.5"}}}
       ]}.

{relx, [{release, {le_test_app, "0.1.0"},
         [le_test_app,
          le_test_db,
          lesser_evil_agent,
          sasl]},

        {sys_config_src, "./config/sys.config.src"},
        {vm_args_src, "./config/vm.args.src"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
